<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--  <?xml version="1.0" encoding="UTF-8"?> -->
<suite name="Android automation test" verbose="1" >
  <test name="Regression suite 1" >
  
    
    <classes>
 
      
      <class name="Tests.TestHomeScreen"/>
     <class name="Tests.TestLibraryPage"/>
      <class name="Tests.TestProfilePage"/>
      <class name="Tests.TestTimerPage"/>           
      
    </classes> 
 <!--   
   //   
    <packages>
     <package name ="Tests"/>
    </packages> -->
 </test>
</suite>